* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1440px) {
  html {
    font-size: 93.75%;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

:root {
  --dark-blue: #363f5f;
  --green: #49aa26;
  --green-dark: #2d4a22;
  --red: #e92929;
  --white: #fff;
  --background-1: #e2e8f0;
  --background-0: #f0f2f5;

  --text-table: #969cb3;
}

body {
  background: var(--background-1);
  font-family: "Poppins", sans-serif;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
  font-weight: normal;
}

header {
  display: block;
  background: var(--green-dark);
  padding: 4rem 0 8rem;
  text-align: center;
}

header h1#logo {
  color: var(--white);
  font-weight: 100;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

main.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: -6rem;
  padding: 0 2rem;
}

main section#balance h2 {
  color: var(--white);
  margin-top: 0;
}

main section#balance .card {
  background: var(--white);
  padding: 0.8rem 1rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  color: var(--dark-blue);
}

main section#balance .card h3 {
  font-size: 1rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main section#balance .card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

main section#balance .card.total {
  background: var(--green);
  color: var(--white);
}

main section #transiction {
  display: block;
  width: 100%;
  overflow-x: auto;
}

main section a {
  color: var(--green);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3rem;
}

main section a:hover {
  color: #3dd705;
}

main section a.button.new {
  display: inline-block;
  margin-bottom: 0.8rem;
}

main section table#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--text-table);
  padding: 1rem 0;
}

main section table#data-table th {
  background: var(--white);
  padding: 1rem 2rem;
  text-align: left;
  font-weight: normal;
}

main section thead tr th:first-child,
main section tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

main section thead tr th:last-child,
main section tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

main section table#data-table td {
  background: var(--white);
  padding: 1rem 2rem;
  font-weight: normal;
}

main section table#data-table td.deposit {
  color: green;
}

main section table#data-table td.witdraw {
  color: red;
}

main section table#data-table td:first-child {
  color: var(--dark-blue);
}

main section table#data-table tbody tr:hover {
  filter: brightness(0.8);
}

div.modal-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

div.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

div div.modal {
  background: var(--background-1);
  padding: 2.4rem;
  position: relative;
  width: 90%;
  max-width: 500px;
}

div div.modal div.modal-content div#form {
  max-width: 500px;
}

div div.modal div.modal-content div#form h2 {
  margin-top: 0;
}

div div.modal div.modal-content div#form form input {
  border: 0;
  border-radius: 0.2rem;
  padding: 0.8rem;

  width: 100%;
}

div div.modal div.modal-content div#form form .input-group {
  margin-top: 0.8rem;
}

div div.modal div.modal-content div#form form .input-group small {
  opacity: 0.4;
}

div div.modal div.modal-content div#form form .input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* botões modal */
div div.modal div.modal-content div#form form .input-group.actions button {
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  background: var(--green);
  padding: 0;
  border-radius: 0.25rem;

  cursor: pointer;
  transition: filter 0.2s;
}

div
  div.modal
  div.modal-content
  div#form
  form
  .input-group.actions
  button:hover {
  filter: brightness(0.75);
}

div div.modal div.modal-content div#form form .input-group.actions .button,
div div.modal div.modal-content div#form form .input-group.actions button {
  width: 48%;
}

div
  div.modal
  div.modal-content
  div#form
  form
  .input-group.actions
  .button.cancel {
  color: var(--red);
  background: var(--background-0);
  border: 2px solid var(--red);
  height: 50px;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}
div
  div.modal
  div.modal-content
  div#form
  form
  .input-group.actions
  .button.cancel:hover {
  filter: brightness(0.9);
}

footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);
  opacity: 0.6;
}
