* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #363f5f;
  --green: #49aa26;
  --green-dark: #2d4a22;
  --white: #fff;
  --background-1: #e2e8f0;
  --background-0: #f0f2f5;

  --text-table: #969cb3;
}

body {
  background: var(--background-1);
  font-family: "Poppins", sans-serif;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
  font-weight: normal;
}

header {
  background: var(--green-dark);
  padding: 3rem 0 8rem;
  text-align: center;
}

header h1#logo {
  color: var(--white);
  font-weight: 100;
}

main.container {
  max-width: 720px;
  margin: 0 auto;
  margin-top: -6rem;
  padding: 0 2rem;
}

main section#balance h2 {
  color: var(--white);
  margin-top: 0;
}

main section#balance .card {
  background: var(--white);
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  color: var(--dark-blue);
}

main section#balance .card h3 {
  font-size: 1rem;
  font-weight: normal;
}

main section#balance .card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

main section#balance .card.total {
  background: var(--green);
  color: var(--white);
}

main section table#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--text-table);
}
main section table#data-table th {
  background: var(--white);

  padding: 1rem 2rem;
  text-align: left;
  border-radius: 0.25rem 0 0 0.25rem;
  font-weight: normal;
}

main section table#data-table td {
  background: var(--white);
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 1rem 2rem;
  font-weight: normal;
}

main section table#data-table td.deposit {
  color: green;
}
main section table#data-table td.witdraw {
  color: red;
}

main section table#data-table td:first-child {
  color: var(--dark-blue);
}

main section table#data-table tbody tr:hover {
  filter: brightness(0.8);
}

footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);
  opacity: 0.6;
}
